
/*
1. Posicionamiento
2. Módelo de caja (Box Model)
3. Tipografía
4. Visuales (shawbox etc)
5. Otros
*/

:root{
    --ecl-blue: #36f;
    --grey: #ccc;
    --deep-grey: #999;
    --blue: #46a;

}
*{
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}
html{
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 150px;
    text-align: center;
    background: linear-gradient(180deg, rgba(255,255,255,1) 48%, rgba(0,40,247,1) 100%); 
}
header img{
    width: 320px;
    height: 70px;
    margin-top: 5px;
    align-self: center;
}
.header--modemstatus{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 120px;
    margin-top: 10px;
    text-align: center;
    align-self: center;
}
.header--modemstatus p{
    font-size: 1.0rem;
    font-weight: bold;
    line-height: 1.6rem;
}
.header--modemstatus .header--button{
    position: absolute;
    left: calc(50% - 110px);
    top: 90px;
    display: block;
    margin-top: 35px;
    padding: 10px;
    width: 220px;
    height: 40px;
    background-color: #FAF8F7;
    /*Sombra*/
    box-shadow: 2px 5px 11px rgba(89, 73, 30, 0.16);
    border-radius: 5px;
    font-size: 1.0rem;
    font-weight: bold;
}
.header--button span{
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
    background-repeat: no-repeat;
}

/*Main*/
main{
    width: 100%;
    height: auto;
}
.main-containers{
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
.main-tables--menu{
    width: 100%;
    height: auto;
    padding-top: 30px;
    text-align: center;
}
/*Menu*/
.menu--lists{
    width: 100%;
    min-width: 300px;
    max-width: 900px;
    min-height: 60px;
    margin: 0px auto;
    padding: 10px 0px;
    list-style-type: none;
    background-color: #f1f1f1;
}
.menu--lists li{
    display: inline-flex;
    
}
.menu--lists li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    min-height: 36px ;
    margin-top: 2px;
    border: 1px solid #bbb;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
}
li a:hover{
    background-color: #555;
    color: white;
}

/*Desgin tables info*/
.main-tables-statusall{
    width: 70%;
    min-width: 235px;
    /* max-width: 500px; */
    height: auto;
    margin: 0 auto;
}
.main-tables-statusall .tables-statusall--tittle{
    width: 100%;
    min-width: 235px;
    height: 25px;
    margin: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:  black ;
    text-align: center;
    background-color:  #f2f4f4 ;
}

.statusall-table--router{
    width: 90%;
    min-width: 235px;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid  #2b7bb1 ;
}
.table__tag{
    position:absolute;
    margin-top: -24px;
    width: auto;
    height: 25px;
    background-color: white;
}
.table_tag p{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:  #3498db ;
}
.statusall-table--router table{
    width: 100%;
    height: 100%;
}
.statusall-table--router td{
    width: 50%;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.3rem;
    background-color: #EAEDED;
}

 /*Wireless*/
 .statusall-table--wireless{
     width: 90%;
     min-width: 235px;
     max-width: 300px;
     height: auto;
     padding: 10px;
     margin: 0 auto;
     margin-top: 20px;
     border: 1px solid #2b7bb1;
 }
.table__tag{
    position: absolute;
    margin-top: -24px;
    width: auto;
    height: 25px;
    background-color: white;
}
.table__tag p{
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: #3498db;

}
.statusall-table--wireless table{
    width: 100%;
    height: 100%;
}
.statusall-table--wireless td{
    width: 50%;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2.3rem;
    background-color: #EAEDED;
}
 /*Wireless Packet info*/
.statusall-table--wirelessPackInf{
    width: 90%;
    min-width: 235px;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #2b7bb1;
}
.table__tag{
   position: absolute;
   margin-top: -22px;
   width: auto;
   height: 25px;
   background-color: white;
}
.table__tag p{
   font-size: 1.4rem;
   font-weight: bold;
   line-height: 2.5rem;
   color: #3498db;

}
.statusall-table--wirelessPackInf table{
   width: 100%;
   height: 100%;
}
.statusall-table--wirelessPackInf td{
   width: 50%;
   font-size: 1.2rem;
   font-weight: normal;
   line-height: 2.3rem;
   background-color: #EAEDED;
}
 /*Services*/
 .statusall-table--services{
    width: 90%;
    min-width: 235px;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #2b7bb1;
}
.table__tag{
   position: absolute;
   margin-top: -22px;
   width: auto;
   height: 25px;
   background-color: white;
}
.table__tag p{
   font-size: 1.4rem;
   font-weight: bold;
   line-height: 2.5rem;
   color: #3498db;

}
.statusall-table--services table{
   width: 100%;
   height: 100%;
}
.statusall-table--services td{
   width: 50%;
   font-size: 1.2rem;
   font-weight: normal;
   line-height: 2.3rem;
   background-color: #EAEDED;
}
/*Memory*/
.statusall-table--Memory{
    width: 90%;
    min-width: 235px;
    max-width: 300px;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #2b7bb1;
}
.table__tag{
   position: absolute;
   margin-top: -24px;
   width: auto;
   height: 25px;
   background-color: white;
}
.table__tag p{
   font-size: 1.4rem;
   font-weight: bold;
   line-height: 2.5rem;
   color: #3498db;

}
.statusall-table--Memory table{
   width: 100%;
   height: 100%;
}
.statusall-table--Memory td{
   width: 50%;
   font-size: 1.2rem;
   font-weight: normal;
   line-height: 2.3rem;
   background-color: #EAEDED;
}

/*
-----------------------
        DHCP Table
-----------------------*/
.main-tables-dhcp{
    width:70% ;
    min-width: 235px;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}
.main-tables-dhcp .table-dhcp--tittle{
    width: 100%;
    min-width: 235px;
    height: 25px;
    margin: 12px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color:  black ;
    text-align: center;
    background-color:  #f2f4f4 ;
}